In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('covid_test_model_data.csv')
df.head()

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita,vaccination_percentage
0,Israel,2021-01-04,1434129.0,2.0,8655541.0,402.606,33132.32,0.000023
1,Israel,2021-01-05,1558973.0,2.0,8655541.0,402.606,33132.32,0.000023
2,Israel,2021-01-06,1662034.0,2.0,8655541.0,402.606,33132.32,0.000023
3,Israel,2021-01-07,1777844.0,5.0,8655541.0,402.606,33132.32,0.000058
4,Israel,2021-01-08,1844132.0,8.0,8655541.0,402.606,33132.32,0.000092