In [1]:
#import dependecies
import pandas as pd

#read in dataset
covid_df= pd.read_csv('owid-covid-data.csv')
covid_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'owid-covid-data.csv'

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [2]:
#list all columns to decide which will be kept
covid_df.columns.tolist()

#columns kept
covid_filtered_df= covid_df[['location', 'date', 'people_vaccinated', 'people_fully_vaccinated', 'population', 'population_density', 'gdp_per_capita']]

In [3]:
#drop all empty cells
covid_filtered_df.dropna(inplace=True)

C:\Users\Owner\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
#drop all countries with one or less entries since cannot make a model out of one entry

#find one country with one or less entry
covid_19_counts= covid_filtered_df.location.value_counts()


#drops single entry countries
covid_19_filtered2= covid_filtered_df.location.isin(covid_19_counts[covid_19_counts>1].index)
covid_19_filtered2

#creates a filtered dataframe after dropping single entry countries
covid_filtered_df= covid_filtered_df[covid_19_filtered2]
covid_filtered_df

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita
1250,Albania,2021-02-02,549.0,1.0,2877800.0,104.871,11803.431
1257,Albania,2021-02-09,689.0,438.0,2877800.0,104.871,11803.431
1265,Albania,2021-02-17,1090.0,611.0,2877800.0,104.871,11803.431
1266,Albania,2021-02-18,2438.0,611.0,2877800.0,104.871,11803.431
1270,Albania,2021-02-22,6073.0,655.0,2877800.0,104.871,11803.431
...,...,...,...,...,...,...,...
89138,Zimbabwe,2021-05-12,549797.0,180568.0,14862927.0,42.729,1899.775
89139,Zimbabwe,2021-05-13,559875.0,192145.0,14862927.0,42.729,1899.775
89140,Zimbabwe,2021-05-14,571460.0,203781.0,14862927.0,42.729,1899.775
89141,Zimbabwe,2021-05-15,579769.0,213542.0,14862927.0,42.729,1899.775
89142,Zimbabwe,2021-05-16,581615.0,215332.0,14862927.0,42.729,1899.775

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita
1250,Albania,2021-02-02,549.0,1.0,2877800.0,104.871,11803.431
1257,Albania,2021-02-09,689.0,438.0,2877800.0,104.871,11803.431
1265,Albania,2021-02-17,1090.0,611.0,2877800.0,104.871,11803.431
1266,Albania,2021-02-18,2438.0,611.0,2877800.0,104.871,11803.431
1270,Albania,2021-02-22,6073.0,655.0,2877800.0,104.871,11803.431
...,...,...,...,...,...,...,...
89138,Zimbabwe,2021-05-12,549797.0,180568.0,14862927.0,42.729,1899.775
89139,Zimbabwe,2021-05-13,559875.0,192145.0,14862927.0,42.729,1899.775
89140,Zimbabwe,2021-05-14,571460.0,203781.0,14862927.0,42.729,1899.775
89141,Zimbabwe,2021-05-15,579769.0,213542.0,14862927.0,42.729,1899.775
89142,Zimbabwe,2021-05-16,581615.0,215332.0,14862927.0,42.729,1899.775

In [5]:
#checks for any continent aggregations 
covid_filtered_df['location'].unique().tolist()

#drops aggregations from the dataframe
covid_filtered_df= covid_filtered_df[covid_filtered_df.location != 'World']
covid_filtered_df

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita
1250,Albania,2021-02-02,549.0,1.0,2877800.0,104.871,11803.431
1257,Albania,2021-02-09,689.0,438.0,2877800.0,104.871,11803.431
1265,Albania,2021-02-17,1090.0,611.0,2877800.0,104.871,11803.431
1266,Albania,2021-02-18,2438.0,611.0,2877800.0,104.871,11803.431
1270,Albania,2021-02-22,6073.0,655.0,2877800.0,104.871,11803.431
...,...,...,...,...,...,...,...
89138,Zimbabwe,2021-05-12,549797.0,180568.0,14862927.0,42.729,1899.775
89139,Zimbabwe,2021-05-13,559875.0,192145.0,14862927.0,42.729,1899.775
89140,Zimbabwe,2021-05-14,571460.0,203781.0,14862927.0,42.729,1899.775
89141,Zimbabwe,2021-05-15,579769.0,213542.0,14862927.0,42.729,1899.775
89142,Zimbabwe,2021-05-16,581615.0,215332.0,14862927.0,42.729,1899.775

In [6]:
#filters out only the countries needed for the testing and create a final testing dataframe
test_countries= ['Israel', 'United Kingdom', 'United States']

test_countries_list= covid_filtered_df.location.isin(test_countries)

covid_final_test_df= covid_filtered_df[test_countries_list]
covid_final_test_df

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita
40042,Israel,2021-01-04,1434129.0,2.0,8655541.0,402.606,33132.320
40043,Israel,2021-01-05,1558973.0,2.0,8655541.0,402.606,33132.320
40044,Israel,2021-01-06,1662034.0,2.0,8655541.0,402.606,33132.320
40045,Israel,2021-01-07,1777844.0,5.0,8655541.0,402.606,33132.320
40046,Israel,2021-01-08,1844132.0,8.0,8655541.0,402.606,33132.320
...,...,...,...,...,...,...,...
84965,United States,2021-05-12,153986312.0,117647439.0,331002647.0,35.608,54225.446
84966,United States,2021-05-13,154624231.0,118987308.0,331002647.0,35.608,54225.446
84967,United States,2021-05-14,155251852.0,120258637.0,331002647.0,35.608,54225.446
84968,United States,2021-05-15,156217367.0,121768268.0,331002647.0,35.608,54225.446
84969,United States,2021-05-16,157485596.0,123282685.0,331002647.0,35.608,54225.446

In [7]:
#exporting dataframe to a csv file
covid_final_test_df.to_csv('covid_final_test.csv', index= False)