In [21]:
import pandas as pd

In [22]:
# Reading COVID world data into a dataframe
covid_df = pd.read_csv("covid_data.csv")
covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89138,ZWE,Africa,Zimbabwe,2021-05-12,38466.0,18.0,15.571,1579.0,0.0,0.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89139,ZWE,Africa,Zimbabwe,2021-05-13,38491.0,25.0,13.286,1582.0,3.0,1.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89140,ZWE,Africa,Zimbabwe,2021-05-14,38535.0,44.0,18.857,1582.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89141,ZWE,Africa,Zimbabwe,2021-05-15,38554.0,19.0,20.000,1582.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
89142,ZWE,Africa,Zimbabwe,2021-05-16,38560.0,6.0,20.143,1582.0,0.0,0.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [23]:
#Selecting only the necessary columns for our model
covid_filtered_df = covid_df[['location','date','people_vaccinated','people_fully_vaccinated','population','population_density','gdp_per_capita']]
covid_filtered_df

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita
0,Afghanistan,2020-02-24,NaN,NaN,38928341.0,54.422,1803.987
1,Afghanistan,2020-02-25,NaN,NaN,38928341.0,54.422,1803.987
2,Afghanistan,2020-02-26,NaN,NaN,38928341.0,54.422,1803.987
3,Afghanistan,2020-02-27,NaN,NaN,38928341.0,54.422,1803.987
4,Afghanistan,2020-02-28,NaN,NaN,38928341.0,54.422,1803.987
...,...,...,...,...,...,...,...
89138,Zimbabwe,2021-05-12,549797.0,180568.0,14862927.0,42.729,1899.775
89139,Zimbabwe,2021-05-13,559875.0,192145.0,14862927.0,42.729,1899.775
89140,Zimbabwe,2021-05-14,571460.0,203781.0,14862927.0,42.729,1899.775
89141,Zimbabwe,2021-05-15,579769.0,213542.0,14862927.0,42.729,1899.775
89142,Zimbabwe,2021-05-16,581615.0,215332.0,14862927.0,42.729,1899.775

In [24]:
covid_filtered_df.dropna(inplace = True)

/Users/amandahantony/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
covid_count = covid_filtered_df['location'].value_counts()
covid_count

World                     141
Germany                   139
Belgium                   137
Israel                    133
Canada                    131
                         ...
Bosnia and Herzegovina      1
Mozambique                  1
Honduras                    1
Brunei                      1
Cameroon                    1
Name: location, Length: 134, dtype: int64

In [26]:
covid_filtered2= covid_filtered_df.location.isin(covid_count[covid_count>1].index)
covid_filtered2

442      False
1250      True
1257      True
1265      True
1266      True
         ...
89138     True
89139     True
89140     True
89141     True
89142     True
Name: location, Length: 6634, dtype: bool

In [27]:
#Gathering countries with multiple COVID entries
covid_filtered_df= covid_filtered_df[covid_filtered2]
covid_filtered_df

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita
1250,Albania,2021-02-02,549.0,1.0,2877800.0,104.871,11803.431
1257,Albania,2021-02-09,689.0,438.0,2877800.0,104.871,11803.431
1265,Albania,2021-02-17,1090.0,611.0,2877800.0,104.871,11803.431
1266,Albania,2021-02-18,2438.0,611.0,2877800.0,104.871,11803.431
1270,Albania,2021-02-22,6073.0,655.0,2877800.0,104.871,11803.431
...,...,...,...,...,...,...,...
89138,Zimbabwe,2021-05-12,549797.0,180568.0,14862927.0,42.729,1899.775
89139,Zimbabwe,2021-05-13,559875.0,192145.0,14862927.0,42.729,1899.775
89140,Zimbabwe,2021-05-14,571460.0,203781.0,14862927.0,42.729,1899.775
89141,Zimbabwe,2021-05-15,579769.0,213542.0,14862927.0,42.729,1899.775
89142,Zimbabwe,2021-05-16,581615.0,215332.0,14862927.0,42.729,1899.775

In [28]:
covid_filtered_df['location'].unique()

array(['Albania', 'Argentina', 'Aruba', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Bermuda', 'Bolivia', 'Brazil', 'Bulgaria', 'Cambodia', 'Canada',
       'Cayman Islands', 'Chile', 'Colombia', 'Costa Rica', 'Croatia',
       'Cyprus', 'Czechia', 'Denmark', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia',
       'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guyana', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Ireland', 'Israel',
       'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lithuania', 'Luxembourg', 'Macao',
       'Malaysia', 'Maldives', 'Malta', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Myanmar', 'Namibia', 'Netherlands',
       'New Zealand', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Saint Kitts and Nevis',
       'San Marino', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'South Africa',
       'South Korea', 'Spain', 'Sri Lanka', 'Suriname', 'Sweden',
       'Switzerland', 'Thailand', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Vietnam', 'World',
       'Zimbabwe'], dtype=object)

In [29]:
covid_filtered_df= covid_filtered_df[covid_filtered_df.location != 'World']
covid_filtered_df

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita
1250,Albania,2021-02-02,549.0,1.0,2877800.0,104.871,11803.431
1257,Albania,2021-02-09,689.0,438.0,2877800.0,104.871,11803.431
1265,Albania,2021-02-17,1090.0,611.0,2877800.0,104.871,11803.431
1266,Albania,2021-02-18,2438.0,611.0,2877800.0,104.871,11803.431
1270,Albania,2021-02-22,6073.0,655.0,2877800.0,104.871,11803.431
...,...,...,...,...,...,...,...
89138,Zimbabwe,2021-05-12,549797.0,180568.0,14862927.0,42.729,1899.775
89139,Zimbabwe,2021-05-13,559875.0,192145.0,14862927.0,42.729,1899.775
89140,Zimbabwe,2021-05-14,571460.0,203781.0,14862927.0,42.729,1899.775
89141,Zimbabwe,2021-05-15,579769.0,213542.0,14862927.0,42.729,1899.775
89142,Zimbabwe,2021-05-16,581615.0,215332.0,14862927.0,42.729,1899.775

In [30]:
#Creating new column for vaccination percentage 
covid_filtered_df["vaccination_percentage"] = covid_filtered_df["people_fully_vaccinated"] / covid_filtered_df["population"] * 100
covid_filtered_df

/Users/amandahantony/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita,vaccination_percentage
1250,Albania,2021-02-02,549.0,1.0,2877800.0,104.871,11803.431,0.000035
1257,Albania,2021-02-09,689.0,438.0,2877800.0,104.871,11803.431,0.015220
1265,Albania,2021-02-17,1090.0,611.0,2877800.0,104.871,11803.431,0.021231
1266,Albania,2021-02-18,2438.0,611.0,2877800.0,104.871,11803.431,0.021231
1270,Albania,2021-02-22,6073.0,655.0,2877800.0,104.871,11803.431,0.022760
...,...,...,...,...,...,...,...,...
89138,Zimbabwe,2021-05-12,549797.0,180568.0,14862927.0,42.729,1899.775,1.214889
89139,Zimbabwe,2021-05-13,559875.0,192145.0,14862927.0,42.729,1899.775,1.292780
89140,Zimbabwe,2021-05-14,571460.0,203781.0,14862927.0,42.729,1899.775,1.371069
89141,Zimbabwe,2021-05-15,579769.0,213542.0,14862927.0,42.729,1899.775,1.436743
89142,Zimbabwe,2021-05-16,581615.0,215332.0,14862927.0,42.729,1899.775,1.448786

In [31]:
#Gathering 3 countries' data for test model
model_countries= ['Israel', 'United Kingdom', 'United States']

model_countries_list= covid_filtered_df.location.isin(model_countries)

covid_test_df= covid_filtered_df[model_countries_list]
covid_test_df

,location,date,people_vaccinated,people_fully_vaccinated,population,population_density,gdp_per_capita,vaccination_percentage
40042,Israel,2021-01-04,1434129.0,2.0,8655541.0,402.606,33132.320,0.000023
40043,Israel,2021-01-05,1558973.0,2.0,8655541.0,402.606,33132.320,0.000023
40044,Israel,2021-01-06,1662034.0,2.0,8655541.0,402.606,33132.320,0.000023
40045,Israel,2021-01-07,1777844.0,5.0,8655541.0,402.606,33132.320,0.000058
40046,Israel,2021-01-08,1844132.0,8.0,8655541.0,402.606,33132.320,0.000092
...,...,...,...,...,...,...,...,...
84965,United States,2021-05-12,153986312.0,117647439.0,331002647.0,35.608,54225.446,35.542749
84966,United States,2021-05-13,154624231.0,118987308.0,331002647.0,35.608,54225.446,35.947540
84967,United States,2021-05-14,155251852.0,120258637.0,331002647.0,35.608,54225.446,36.331624
84968,United States,2021-05-15,156217367.0,121768268.0,331002647.0,35.608,54225.446,36.787702
84969,United States,2021-05-16,157485596.0,123282685.0,331002647.0,35.608,54225.446,37.245226

In [32]:
covid_test_df.to_csv('covid_test_model_data.csv', index=False)